.barre-principale {
  position: fixed;
  top: 0;          /* colle en haut */
  left: 0;         /* colle à gauche */
  width: 100%;     /* prend toute la largeur */
  z-index: 100;    /* reste au-dessus du contenu */
}

.hero-principale {
    position: relative;
    width: 100%;
    height: 100vh; /* occupe tout l'écran */
    overflow: hidden;
}

/* Vidéo en fond */
.bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
}

/* Contenu au-dessus de la vidéo */
.hero-contente {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    color: black; /* texte blanc */
    padding: 0 1rem;
}

.hero-contente h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-contente p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.hero-contente p {
  max-width: 300px; /* ou 350px selon ton goût */
  margin: 10px auto; /* centre le texte */
  line-height: 1.5;
}

.cta-btne {
    padding: 0.75rem 2rem;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.cta-btne:hover {
    background-color: #333;
}


/* 2 éme section */
.planets-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 10%;
}

.planet-card {
  background-color: #1e1e1e;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.planet-card:hover {
  transform: translateY(-5px);
}

.planet-card img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
}

.planet-card h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
}

.planet-card p {
  color: #ccc;
  font-size: 14px;
  min-height: 60px;
  margin-bottom: 15px;
  line-height: 1.4;
}

.planet-card span {
  display: block;
  color: #aaa;
  font-size: 12px;
}

.planet-card strong {
  color: #fff;
}